// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true

}

window-rule {
    draw-border-with-background false
    opacity 0.9
    background-effect {
        xray false 
        blur true
    }
    popups {
        opacity 0.85
        background-effect {
            blur true
            noise 0.01
            saturation 1
        }
    }
}

// Increase opacity of vscode and antigravity and slack
window-rule {
    match app-id="^(code|antigravity.*)$"
    opacity 0.95
    background-effect {
        xray false
        blur true 
    }
}

window-rule {
    match app-id="^(slack.*)|(dev.zed.Zed)$"
    opacity 0.98
    background-effect {
        blur true
        xray false
    }
  }

// Disable blur 
window-rule {
    match app-id="^(webkit.*|video-player.*|web.*|firefox.*|brave.*|ONLYOFFICE.*|microsoft-edge.*|google-chrome.*|btrfs-assistant.*|org\\.gnome\\.Epiphany)$"
    match title="Wayland Output Mirror for eDP-1"
    opacity 1.0
}

// Blur the background behind Noctalia popup menus
// for noctalia v4
/- layer-rule {
    match namespace="^(noctalia-background.*)$"
    opacity 0.9
    background-effect {
        blur true
        xray false
        noise 0.01
        saturation 2
    }
    popups {
        opacity 0.9
        background-effect {
            blur true
	    xray false
	    noise 0.01
            saturation 2
        }
    }
}

/- layer-rule {
    match namespace="^(noctalia-launcher.*)$"
    opacity 1.0
    background-effect {
        blur true
        xray false
        noise 0.01
        saturation 2
    }
    popups {
        opacity 1.0
        background-effect {
            blur true
	    xray false
	    noise 0.01
            saturation 2
        }
    }
  }

// Noctalia v5
/- layer-rule {
  match namespace="^(noctalia-bar.*)$"
  opacity 0.9
  background-effect {
    blur true
    xray false
    noise 0.01
    saturation 2
  }
  popups {
    opacity 0.9
    background-effect {
      blur true
      xray false
      noise 0.01 
      saturation 2
    }
  }
}

// FLoating Noctalia settings window
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
    opacity 0.9
    background-effect {
        blur true
    }

    popups {
        opacity 1.0
        background-effect {
            blur false
            noise 0.01
            saturation 1
        }
    }
}

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  Noctalia publishes blur regions automatically when ext-background-effects is available.
*/
layer-rule {
  // match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  match namespace="^noctalia-(bar-[^\"]+|panel|notification|osd)$"
  background-effect {
    xray false
    blur true
  }
}

/* Enable blur and xray on noctalia's window switcher. */
layer-rule {
    match namespace="noctalia-window-switcher"
    opacity 0.9
    background-effect {
        blur true
        xray true
    }
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd


// layer-rule {
//     match namespace="^noctalia-wallpaper.*$"
//     place-within-backdrop true
// }

// layout {
//     background-color "transparent"
// }
//

// Make certain window floating by default.
window-rule {
    match app-id="thunar" title="^Rename"
    open-floating true
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}
